@CHARSET "UTF-8";
.toptitle{
	font-size:20px;
	font-color:black;
	font-weight:bold;
	margin-left:50px;
	margin-top:20px;
	
}
.house-basic-info{
	margin-bottom:40px;
}
.house-basic-pic{
	float:left;
	margin-left:50px;
	
}
.house-basic-pic img{
	width:464px;
	height:320px;
	position:relative;
}
.house-basic-right{
	width:686px;
	border-top:1px solid #f3f3f3;
	margin-left:534px;
	height:347px;
	position:relative;
}
.house-basic-description{
	height:347px;
	margin-bottom:10px;
	position:relative;
}
.desc-item{
	width:424px;
}
.house-owner-info{
	z-index:1;
	width:300px;
	height:200px;
	text-align:center;
	margin-top:-212px;
	margin-left:400px;
	
}
.owner-head-portrait{
	width:80px;
	height:80px:
	z-index:3;
	margin-left:110px;
}
.owner-head-portrait img{
	width:80px;
	height:80px:
}
.owner-info-text{
	margin-top:20px;
	font-size:15px;
	width:200px;
	height:100px;
	margin-left:50px;
}
.pay-way{
	height:91px;
	line-height:107px;
	font-size:25px;
	color:#ff552e;
}
.basic-content{
	font-size:14px;
}
.half-bottom{
	width:100%;
	padding-right:10%;
}
.details{
	width:800px;
	display:inline-block;
	float:left;
	position:absolute;
}

.star-house{
height:65px;
position:relative;
margin-top:20px;
width:268px;
background-color:#66CCCC;
text-align:center;
border-radius:6px;
}

.star-text{
	
	padding-top:10px;
	margin-bottom:2px;
	font-size:30px;
	color:#fff;
	text-align:center;
	
}

.reserve{
height:30px;
position:relative;
margin-top:10px;
width:100px;
background-color:#5F9EA0;
text-align:center;
margin-left:50px;
border-radius:6px;
}
.reserveInfo{
	padding-top:3px;
	font-size:15px;
	color:#fff;
	text-align:center;
}

.line img{
	width:350px;
	height:320px;
}
.house-facility{
	width:500px;
	margin-top:40px;
	margin-bottom:27px;
}

.facility{
	color:darkgray;
	font-size:15px;
	display:inline-block;
	position:relative;
	margin-left:20px;
	width:80px;
	line-height:18px;
	padding-top:39px;
	margin-bottom:27px;
	text-align:center;
	float:none;

}

.facility img{
	width:25px;
	height:25px;
	top:0;
　　　bottom:0;
　　　left:0;
　　　right:0;
　
}


.bed{
	width:35px;
	height:29px;
	left:42px;	
	background-position:-301px 0;
	position:absolute;
	background:url(image/1.jpg);
	background-size:auto 80px;
}


.info{
	color:black;
	font-size:15px;

}




.recommendHouses{
	dispaly:inline-block;
	margin-left:61%;
	padding-top:20px;
	width:20%;
	float:left;
	position:absolute;
	font-size:21px;
}
.houseItem{
	width:500px;
	height:150px;
		
}
.pic{
	width:170px;
	height:120px;
	position:absolute;

}
.houseItem img{
	width:168px;
	height:120px;
	padding:10px;
}
.houseItem-detail{
	width:300px;
	height:120px;
	margin-left:170px;
	position:absolute;
	padding-top:10px;
	font-color:red;
}
.houseItemtitle{
	font-size:15px;
	color:black;

}
.HouseItem-specific-info{
	
}
.HouseItem-specific-info-font{
	font-size:12px;
	color:gray;
}
.HouseItemcharge{
	font-size:20px;
	color:red;	
	
}
.HouseItemcharge-font{
	font-size:20px;
	color:red;
}


.house-pic-list{
	
	width:805px;
	position:relative;
	display:inline-block;
	
}

.house-pic-list-item{
	display:inline-block;
	padding-left:10px;
	
}
.house-pic-list-item img{
	width:350px;
	height:260px;
	
}

.button{
	display:block;
	width:700px;
	height:46px;
	list-style:none;
}
.hiddenimg{
	display:none;
}
 .small_img,.big_img {
    cursor: pointer;
    width:100px;
    height:100px;
  }
.black_overlay{ 
    display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=80);  
  } 
  .big_img { 
    display: none; 
    position: absolute; 
    width:500px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin: -60px 0px 0px -60px;
    z-index:1002; 
    overflow: auto; 
  }

